@import "tailwindcss";

body {
  background-color: #0a0a0a; 
  color: white;
}
@theme {
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
}
/* maush gollo */
@media (min-width: 1024px) {
  html, body {
    cursor: none;
  }
  
  a, button, .cursor-pointer, input, textarea {
    cursor: none !important;
  }
}